{% extends 'base.html' %}

{% block title %}
Todo Lists
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>My Lists</h1>
        <p><a href="{% url 'todos:todo_list_create' %}">Create a new list</a></p>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Items</th>
                </tr>
            </thead>
            <tbody>
                {% for todo_list in todo_lists %}
                <tr>
                    <td>
                        <a href="{% url 'todos:todo_list_detail' id=todo_list.id %}">{{ todo_list.name }}
                        </a>
                    </td>
                    <td>{{ todo_list.items.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
